@import url('https://fonts.googleapis.com/css2?family=Open+Sans:400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #9a9a9a;
}

*::-webkit-scrollbar-thumb {
    background-color: #5a5a5a;
    border-radius: 20px;
    border: 3px solid #9a9a9a;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    background-image: url(bgisrael.jpg);
    font-family: 'open sans', sans-serif;
    font-size: 2rem;
    text-align: center;
    justify-content: center;
    line-height: 1.5;
}

header {
    display: flex;
    flex: 1 1 100vh;
    width: 100%;
    background: white;
    border-bottom: 2px solid #9b7116;
    position: fixed;
    z-index: 1;

}

footer {
    background-color: white;
}

table {
    min-width: 360px;
    width: 100%;
    border-collapse: collapse;

}

table caption {
    font-style: italic;
    font-size: 1.6rem;
    text-align: left;
    margin-bottom: 1rem;
}

table td,
table th {
    white-space: nowrap;
    padding: 1rem;
    text-align: center;
    border: 0.1rem solid black;

}

thead tr {
    color: white;
}

tfoot td {
    color: white;
}

tfoot td,
table th {
    background: #9b7116;
}

nav {
    display: flex;
    margin: 0px auto;
    flex: 0 1 100vh;
    align-items: center;
    justify-content: center;
    background: white;

}

nav a {
    text-transform: uppercase;
    margin: 0 auto;
    font-size: 18px;
}


section {
    flex: 1 1 100vh;
    margin: 0px auto;
    height: 100%;
    width: 100%;
}

fieldset {
    display: flex;
    height: 100%;
    width: 100%;
    border: none;
    text-align: center;
    justify-content: center;
    padding-bottom: 100px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    background: #9b7116;
}

h2 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    text-align: center;
    justify-content: center;
    line-height: 1.2;
    color: white;

}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
.grid-parceiros,
.bi {
    visibility: hidden;
}

.section-slider {
    padding-top: 100px;
    padding-bottom: 40px;
    background-color: rgba(0, 0, 0, 0.893);
}


.slider {
    margin: 0 auto;
    width: 800px;
    height: 480px;
    overflow: hidden;
}

.slides {
    width: 100%;
    height: 400px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 100%;
    position: relative;
    transition: 2s;
}

.slide img {
    width: 800px;
}

.manual-navegation {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid white;
    padding: 5px;
    margin-top: 60px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: white;
}

#radio1:checked~.first {
    margin-left: 0%;
}

#radio2:checked~.first {
    margin-left: -100%;
}

#radio3:checked~.first {
    margin-left: -200%;
}

#radio4:checked~.first {
    margin-left: -300%;
}

#radio5:checked~.first {
    margin-left: -400%;
}

#radio6:checked~.first {
    margin-left: -500%;
}

.navegation-auto div {
    border: 2px solid #9b7116;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navegation-auto {
    position: absolute;
    width: 800px;
    margin-top: 420px;
    display: flex;
    justify-content: center;
}

.navegation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked~.navegation-auto .auto-btn1 {
    background: #9b7116;
}

#radio2:checked~.navegation-auto .auto-btn2 {
    background: #9b7116;
}

#radio3:checked~.navegation-auto .auto-btn3 {
    background: #9b7116;
}

#radio4:checked~.navegation-auto .auto-btn4 {
    background: #9b7116;
}

#radio5:checked~.navegation-auto .auto-btn5 {
    background: #9b7116;
}

#radio6:checked~.navegation-auto .auto-btn6 {
    background: #9b7116;
}

#logo {
    flex: 0 1 200px;
    background: white;
    position: relative;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 20px;
}

#inicio {
    background: rgba(0, 0, 0, 0.819);

}

#inicio h1 {
    color: white;
}

#produtos {
    background: white;
}


#openMenu,
#closeMenu {
    border: none;
    background: none;
    font-size: 30px;
    font-weight: bold;
    padding: 0px 5px 0px 5px;
    cursor: pointer;
    display: none;

}

.menu-logo {
    display: none;
}

.menu-transition a::after {
    content: ' ';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: #9b7116;
    transition: all 300ms ease-in-out;

}

.menu-transition a:hover::after {
    width: 50%;
    left: 25%;
}

.menu-transition a {
    display: block;
    padding: 2rem;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    position: relative;
}

.btn-contato button:hover {
    transform: scale(1.05);
}

.btn-contato {
    padding-right: 25px;
    padding-top: 20px;
    max-width: 100%;
    height: 100%;
}

.btn-contato button {
    padding: 10px 30px;
    margin: 0 auto;
    min-width: 100%;
    font-size: 18px;
    color: white;
    font-weight: 600;
    background-color: #9b7116;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

.btn-fechar {
    display: flex;
    background: none;
    border: none;
}


.gallery-img img {
    margin: 12px;
    align-items: center;
    justify-content: center;
    transition: all 300ms ease-in-out;
    opacity: 0.4;
}

.gallery-img img:hover {
    opacity: inherit;
    transform: translate(3%, 3%) scale(1.2);
}

.gallery-img {
    align-items: center;
    justify-content: space-between;
    display: inline;
    width: 100vh;
    overflow: hidden;
    margin: 0 auto;
    padding: 5px;
    padding-bottom: 10px;
}

.section {
    padding-top: 170px;
    height: 100%;
    flex: 1 1 50px;
    border-top: 1px solid #9b7116;
    border-bottom: 2px solid #9b7116;
    background: rgb(120, 120, 119);
}


.section h1 {
    text-transform: uppercase;
    font-size: 2.5rem;
    color: black;
    margin-bottom: 2rem;
    text-align: center;
    justify-content: center;
    line-height: 1.2;
}

.menu-spacing {
    height: 100%;
    padding-bottom: 150px;

}

.grid-parceiros {
    display: inline-flex;
    width: 100%;
    padding: 50px;
    padding-bottom: 50PX;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    gap: 40px;
    overflow: hidden;
    position: relative;
    background-color: white;
    color: black;
}

.text-footer {
    display: flex;
    width: 100%;
    color: black;
    padding: 50px;
    border-top: 2px solid rgb(120, 120, 119);
    text-align: center;
    justify-content: center;
    background-color: white;
}

.footer {
    display: flex;
    width: 100%;
    max-height: 100%;
    position: relative;
}

.grid-sociais {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px auto;
    padding: 50px;
    width: 100%;
    background: white;
}

.grid-sociais h3 {
    font-size: 20px;
}

.grid-sociais i {
    padding: 10px;
}

.fa-brands {
    padding: 5px;
    font-size: 22px;
}

.bi-whatsapp {
    font-size: 40px;
    color: green;
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}


@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 20px;
    }
}

.parceiros {
    display: inline-flex;
    width: 300px;
    height: 300px;
    margin: 50px auto;
    border-top: 4px solid #9b7116;
    border-radius: 10px;
    background-color: rgba(255, 250, 250, 0.26);
}

.parceiros p {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    font-weight: 600;
    font-size: 18px;
    color: white;
    margin: 0;
    width: 100%;
    max-height: 100%;
}

.parceiros:hover {
    background-color: #9b7116;
    transition: 0.2s;
}

.footer a {
    width: 100%;
    padding: 10px;
    color: black;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    justify-content: center;
    background: white;
    border-top: 2px solid black;

}

.form {
    padding-top: 200px;
    display: block;
    width: 100%;
    margin: 0px;
    height: 100%;
    font-weight: 600;
    font-size: 1.125rem;
    text-align: center;
    justify-content: center;
}

.form-pg {
    display: flex;
    background-color: rgb(120, 120, 119);
    margin: 50px;
    padding: 70px;
    max-height: 100%;
}

.form-pg h3 {
    width: 100%;
    max-height: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    color: white;

}

.form label,
.form input,
.form textarea,
.form button {
    text-transform: uppercase;
    display: block;
    width: 100%;
}

.form label {
    color: #fff;
    line-height: 1;
    margin-bottom: 0.5rem;
}

.form input,
.form textarea {
    font: inherit;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 8px;
    transition: border-color, box-shadow 0.2s;
}

.form textarea {
    min-height: 13rem;
    resize: vertical;
}

.form input:hover,
.form input:focus,
.form textarea:hover,
.form textarea:focus {
    outline: none;
    box-shadow: 0 0 0 2px black;
}

.form button {
    display: block;
    padding: 1rem;
    background: white;
    color: black;
    font: inherit;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
    margin-left: 3px;
}

.form button:hover,
.form button:focus {
    outline: none;
    background: black;
    color: white;
    font-weight: 500;
}

.responsive-table {
    overflow: hidden;
    overflow-x: auto;
    grid-template-columns: 1fr;
    width: 100%;
}

@media only screen and (max-width: 1024px) {

    * {
        max-width: 100%;
        max-height: 100%;
        padding: auto;
        margin: 0 auto;
    }

    #openMenu,
    #closeMenu {
        display: flex;

    }

    #openMenu {
        position: fixed;
        right: 15px;
        top: 15px;

    }

    #closeMenu {
        position: fixed;
        right: 15px;
        top: 15px;
    }

    .btn-contato {
        display: none;
    }

    .btn-fechar {
        display: block;
    }

    .footer {
        display: flex;
        width: 100%;
        max-height: 100%;
        position: relative;
    }

    .grid-sociais {
        background-color: white;
        margin: 0 auto;
        padding: auto;

    }

    .grid-parceiros {
        display: inline-block;
        width: 100%;
        overflow: hidden;
        position: relative;
        color: black;
        padding: 15px;
        margin: 0px auto;

    }

    .section {
        padding-top: 150px;
    }

    .form-pg h3 {
        margin: 0 auto;
        padding: auto;
        height: 100%;
        text-align: center;
        justify-self: center;
        font-size: 20px;
    }

    .form {
        max-width: 35rem;

    }

    .menu-logo {
        display: flex;
        padding-bottom: 10px;
    }

    .lg {
        display: none;
    }

    .e-mail {
        display: none;
    }

    .gallery-img img {
        display: block;
        margin: 0px auto;
        padding: 20px;
        align-items: center;
        justify-content: center;
    }

    .slide img {
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        min-width: 344px;
        margin-right: 130px;
    }

    .section-slider {
        padding-bottom: 0px;
    }

    nav {
        position: fixed;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        background: white;
        align-items: center;
        justify-content: center;
        margin: 0;
        display: none;
        opacity: 0;
        transition: 0.3s;

    }

    h1 {
        margin-left: 10px;
    }

    h3,
    h2 {
        margin: 30px;
    }

    footer {
        width: 100%;
        height: 100%;
    }

    header {
        width: 100%;
    }
}